# Bibliotecas principais
hf_xet
flask
flask-login
gradio
werkzeug
langchain-docling
langchain
watchdog
gunicorn
psutil

# Banco de dados e ORM
python-dotenv

# Processamento de documentos
PyPDF2
pdfplumber
python-docx
ebooklib
beautifulsoup4

# Machine Learning (versões CPU)
numpy
sentence-transformers
faiss-cpu  # Atenção com a compatibilidade com IndexIVFFlat
torch
transformers
llama-cpp-python==0.2.17
typing-extensions
huggingface-hub

# Processamento de imagens
pillow

# Segurança
bcrypt
itsdangerous
email-validator

# Utilitários
python-multipart
tqdm
requests

# Email
secure-smtplib